* {
    box-sizing: border-box;
  }
  body {
    background-color:#eee;
    font-size:16px;
  }
  
  /* [문2-1] */
  #wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* [문2-2] */
    grid-gap: 1rem;
  }
  
  /* 카드 하나의 스타일 */
  .card {
    background-color: #fff;
    box-shadow: 0px 1px 5px #222;
  }
  
  /* [문2-3] */
  .card > header {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  /* [문2-4] */
  .card > p {
    padding: 0.5rem;
    line-height: 1.6em;
  }
  
  /* [문2-5] */
  .card > img {
    max-width: 100%;
  }
  